extends layout

block content
    .swap(style='width: 100%; max-width: 330px; padding: 15px; margin: auto;')
        form(action='/sell', method='POST')
            input#csrf(type='hidden', name='_csrf', value=_csrf)
            .input-group(style='padding-bottom: 15px;')
                span.input-group-text 💎
                input#amount.form-control(name='amount' type='number' min='0.01' max=crystals step='0.01' required)
                button#max.btn.btn-outline-secondary(type='button') Max
            button.w-100.btn.btn-lg.btn-primary(type='submit') Sell crystals
    script.

